<div class="container">
  <div class="row">
    <div class="navbar col-md-4">
      <p>Future navbar</p>
    </div>
    <div class="content col-md-8">
      <div class="row infos-ctn">
        <div class="infos col-md-3">
          <div class="profilePic"
            style="background-image:url('https://pbs.twimg.com/profile_images/786860907091595264/2WgDSgT2_400x400.jpg')">
          </div>
        </div>
        <div class="username col-md-9">
          <!-- <p class="name">{{ user.username }}</p> -->
        </div>
      </div>
      <div class="row">
        <!-- <div class=" col-md-12 descritpion"> {{ user.bio }}</div> -->
      </div>
      <div class="row">
        <!-- <div class=" col-md-6 details-friends"> <span class="emph primary-color">{{ friendsNumber }}</span> Amis</div>
        <div class=" col-md-6 details-clubs"> <span class="emph primary-color">???</span> Abonnement</div> -->
      </div>
      <div class="row friends-title section-bloc-title">
        <p class="block-title col-md-12 bold">Amis</p>
      </div>

      <!-- <div class="row section-bloc">
        <div class="block-ctn">
          <div *ngFor="let info of friends" class="block">
            <p>
              {{info.username}}
            </p>
            <p>
              {{info.bio}}
            </p>
            <a href="link">Link to profile</a>
          </div>
        </div>
      </div> -->


      <!-- <div class="row club-title section-bloc-title">
        <p class="block-title col-md-12">Clubs</p>
      </div>
      <div class="row section-bloc">
        <div class="block-ctn">

          <ngx-tiny-slider [config]="tinySliderConfig">
            <ng-container class="items slider">
              <div *ngFor="let info of friends" class="block item">
                <img src="http://www.mattsorger.com/newsletterpics/gsw07_01.jpg" />
              </div>
            </ng-container>
          </ngx-tiny-slider>

        </div>
      </div>


      <ngx-tiny-slider [config]="tinySliderConfig">
        <ng-container class="items">
          <div class="item">
            <a target="_blank" href="google.com">
              <p>pppp</p>
              
            </a>
          </div>
     
          <div class="item">
            <a target="_blank" href="google.com">
              <img src="http://www.mattsorger.com/newsletterpics/gsw07_01.jpg">
            </a>
          </div>
     
          <div class="item">
            <a target="_blank" href="google.com">
              <img src="http://www.mattsorger.com/newsletterpics/gsw07_01.jpg">
            </a>
          </div>
     
          <div class="item">
            <a target="_blank" href="google.com">
              <img src="http://www.mattsorger.com/newsletterpics/gsw07_01.jpg">
            </a>
          </div>
     
          <div class="item">
            <a target="_blank" href="google.com">
              <img src="http://www.mattsorger.com/newsletterpics/gsw07_01.jpg">
            </a>
          </div>
        </ng-container>
      </ngx-tiny-slider>

      <div class="publications">
        <div class="row section-publication">
          <div class="block-ctn">
            <div *ngFor="let publication of publication" class="block">
               Afficher les publication ici  -->
            <!-- </div>
          </div>
        </div>
      </div> -->

      <div>
        <h1>Home</h1>
        <ngx-tiny-slider class="slider" #ngxSlider [config]="tinySliderConfig">
          <ng-container class="items">
              <button class="card" #slideList *ngFor="let card of cards" [routerLink]="card.route">
                  <div>
                      <img [src]="card.img">
                  </div>
              </button>
          </ng-container>
      </ngx-tiny-slider>
        
      </div>

    </div>
  </div>
</div> 
