<div class="container">
    <div class="ace-navbar">

    </div>
    <div class="ace-content">

    </div>
</div>

<ul>
    <li *ngFor="let info of informationData">
        <p>
            info name :{{ info.ref_id_user_friend }}
        </p>
    </li>
</ul>


<ul>
    <li *ngFor="let publi of publication">
        <p>
            publi name :{{ publi.description }}
        </p>
    </li>
</ul>



<ul>
    <li *ngFor="let friend of friends">
        <p>
            Friend name :{{ friend }}
        </p>
    </li>
</ul>

<p>clubs: {{clubsNumber}}</p>
<ul>
    <li *ngFor="let club of clubs">
        <p>
            clubs name :{{ club[0] }}
        </p>
        <p>
            clubs desc :{{ club[1] }}
        </p>
        <p>
            clubs link :{{ club[2] }}
        </p>
    </li>
</ul>