<p>publication works!</p>


<!-- <form [formGroup]="publicationForm" (ngSubmit)="checkData()">

    <div class="col-md-6">
        <label> description : </label>
        <textarea class="form-control" formControlName="description"></textarea>
    </div>

    <div class="col-md-6">
        <label>image :</label>
        <input class="form-control" type='file' formControlName="image">
    </div>

    <div class="row my-4">
      <div class="col-md-12 mx-auto text-center">
        <input type="submit" class="btn btn-success" value="Enregister">
      </div>
    </div>
  </form> -->

  
  <!-- <div class="form-group"> -->
    <!-- <label for="file">Choose File</label><br /> <input type="file" id="file" (change)="uploadFiles($event.target.files)">
  </div> 

  <button type="button" (click)="RequestUpload()">Ok</button> -->


            <!-- <input
              type="file"
              name="file"
              #fileInput
              (change)="onChange(fileInput.files[0])"
            />
  
          <button
            class="button is-primary"
            (click)="onUpload()"
            [attr.disabled]="isUploading ? '' : null"
          >
            Upload
          </button> -->

          <form [formGroup]="publicationForm" (ngSubmit)="fileChangeEvent()">
            <div class="form-group">
                    <label> description : </label>
                    <textarea class="form-control" formControlName="description"></textarea>
                    <label>Upload Logo</label>
                    <input class="form-control" type='file' #fileInput (change)="onChange(fileInput.files[0])"formControlName="image">
            </div>
            <input type="submit" class="btn btn-success" value="Enregister">
          </form>