<!-- <div class="container full-page">
    <div class="card text-white bg-primary mb-3">
      <div class="card-header">Inscription</div>
      <div class="card-body">
  
        <div *ngIf="MsgConfirmation">
          <p style="color: green">Merci de votre inscription<i class="fa fa-check"></i></p>
        </div> -->
        <!-- <div *ngIf="confirmation"> -->
          <form [formGroup]="registerForm" (ngSubmit)="checkData()">
            <div class="row">
              <div class="col-md-6">
                <label> Pseudo : </label>
                <input class="form-control" type="text" formControlName="username">
              </div>

              <div class="col-md-6">
                <label> Mail : </label>
                <input class="form-control" type="email" formControlName="email">
                <p *ngIf="password" style="color: red">Cette email est déja utlisé</p>
              </div>
            </div>

            <div class="col-md-6">
                <label> bio : </label>
                <textarea class="form-control" formControlName="bio"></textarea>
            </div>
  
  
            <div class="row">
              <div class="col-md-6">
                <label> Mot de passe : </label>
                <input class="form-control" type="password" formControlName="password">
              </div>
              <div class="col-md-6">
                <label> Confirmation du mot de passe : </label>
                <input class="form-control" type="password" formControlName="password2">
                 <p *ngIf="password" style="color: red">Les mots de passes ne son pas identique</p>
              </div>
            </div>

            <!-- <div class="row">
                <label>Pratiquez-vous un sport ?</label><br>
                <input type="radio" name="oui" value="oui" formControlName="sport">
                <label for="oui">oui</label><br>
                <input type="radio" name="non" value="non" formControlName="sport">
                <label for="non">non</label><br> 
            </div>

            <div class="row">
              <label>Quel sport pratiquez-vous ?</label><br>
              <input type="checkbox" name="karate" value="karate" formControlName="karate">
              <label for="oui">Karate</label><br>
              <input type="checkbox" name="tennis" value="tennis" formControlName="sport">
              <label for="non">Tennis</label><br> 
              <input type="checkbox" name="natation" value="natation" formControlName="sport">
              <label for="oui">Natation</label><br>
              <input type="checkbox" name="football" value="footbal" formControlName="sport">
              <label for="non">Football</label><br> 
              <label for="non">Autres</label>
              <input class="form-control" type="text" formControlName="autre" placeholder="sport,sport">
              
          </div>

          <div class="row">
            <label>Quel est votre niveau dans votre domaine ?</label><br>
            <label for="non">Niveau:</label>
            <input class="form-control" type="text" formControlName="niveau" placeholder="autres"><br>
            <label for="non">Justificatif:</label>
            <input class="form-control" type="file" formControlName="justificatif" placeholder="autres">
          </div>  -->

            <div class="row my-4">
              <div class="col-md-12 mx-auto text-center">
                <input type="submit" class="btn btn-success" value="Enregister">
              </div>
            </div>
          </form>
<!-- 
      </div>
    </div>
  </div> -->
